.div1{
  background-color: #de4c4c;
    
    
    color: rgb(202, 184, 127);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button {
  color: #de4c4c;
 background-color: #ffffff;
 border: #de4c4c;

  
}