.container {
    background-image: url('/background-image-for-website-6-1949073427.jpg');
    height: 500px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    /* text-align: center; */
}