.main {
    background-color: #ae72a6;
    padding-left: 12px;
    padding-top: 13px;
    padding-bottom: 18px;
    margin-top: 50px;
    border: 5px dotted rgb(248, 129, 9);
}

/* Margin Top Works from outside of the container */
/* Padding gives the space from inside of the container */


.main button{
    margin-bottom: 50px;
    border-radius: 20px;
}

.m1 {
    background-color: #b91c1c;
    border: 3px solid blue;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 3px 4px 5px 6px green;
}

img {
    padding-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}